.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}
.logo {
    width: 100px;
    padding: 20px
}
.nav-items ul {
    display: flex;
}
.nav-items ul li {
    padding: 10px;
    margin: 10px;
    list-style: none;
    font-size: 20px;
}
.res-card {
    width: 250px;
    padding: 5px;
}
.res-card:hover {
    border: 1px solid #000;
    cursor: pointer;
}
.search {
    padding: 10px;
}
.res-logo {
    width: 100%;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filter-btn {
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    height: 400px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 20px;
}
.login-btn {
    padding: 0px 20px;
    cursor: pointer;
    margin-right: 10px;
}
.filter {
    display: flex;
}
.cuisine {
    text-decoration: underline;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: rgb(255,82,0);
}
.minimal-card {
    border-radius: 20px;
    border: 1px solid rgba(2,6,12,.15);
    background-color: #fff;
    box-shadow: rgba(0,0,0,0,.04) 0px 8px 16px 0px;
}
.user-card {
    padding: 10px;
    border: 1px solid #000;
}